<?xml version="1.0" encoding="utf-8" ?>
<appSettings>

  <!--### Simulator ###-->
  <add key="Simulator.Scenario" value=""/>
  <add key="Simulator.WarmUpDuration" value="0.00:00:30"/>
  <add key="Simulator.EventHubConnectionString" value="Endpoint=sb://[YourServiceNamespace].servicebus.windows.net/;SharedAccessKeyName=[YourAccessKeyName];SharedAccessKey=[YourAccessKey];TransportType=Amqp"/>
  <add key="Simulator.EventHubPath" value="[YourEventHubPath]"/>
  <add key="Simulator.NumberOfDevices" value="100"/>
  <add key="Simulator.SenderCountPerInstance" value="10"/>
  <!--See: https://msdn.microsoft.com/en-us/library/system.diagnostics.tracing.eventlevel(v=vs.110).aspx-->
  <add key="Simulator.LogLevel" value="Informational" />

  <!--### Cold Storage ###-->
  <add key="Coldstorage.ConsumerGroupName" value="ColdStorage"/>
  <add key="Coldstorage.CheckpointStorageAccount" value="DefaultEndpointsProtocol=https;AccountName=[YourStorageAccount];AccountKey=[YourAccountKey]"/>
  <add key="Coldstorage.EventHubConnectionString" value="Endpoint=sb://[YourServiceNamespace].servicebus.windows.net/;SharedAccessKeyName=[YourAccessKeyName];SharedAccessKey=[YourAccessKey];TransportType=Amqp"/>
  <add key="Coldstorage.EventHubName" value="[YourEventHubName]"/>
  <add key="Coldstorage.MaxBatchSize" value="100"/>
  <add key="Coldstorage.PreFetchCount" value="500"/>
  <add key="Coldstorage.ReceiveTimeout" value="0.00:01:00"/>
  <!--Storage account where event hub data is stored - the default is 1 for all partitions in the eventhub-->
  <add key="Coldstorage.BlobWriterStorageAccount" value="DefaultEndpointsProtocol=https;AccountName=[YourStorageAccount];AccountKey=[YourAccountKey]"/>
  <!--This is the maximum amount of data which you want to put into the blob before a roll happens. The size should be large. See: http://blogs.msdn.com/b/mostlytrue/archive/2014/04/10/merging-small-files-on-hdinsight.aspx-->
  <add key="Coldstorage.RollSizeForBlobWriterMb" value="2048"/>
  <add key="Coldstorage.ContainerName" value="coldstorage"/>
  <!--This is the prefix for the blob name. Blobs are created  with the name (using the default naming strategy) /pnp-datapipeline/<eventhubpartitionId>/YYYY/MM/DD/sequenceNumber where sequence number starts with 0 and incremented whenever a roll happens-->
  <add key="Coldstorage.BlobPrefix" value="pnp-iotjourney"/>
  <add key="Coldstorage.circuitbreaker.WarningLevel" value="200"/>
  <add key="Coldstorage.circuitbreaker.TripLevel" value="400"/>
  <add key="Coldstorage.circuitbreaker.StallInterval" value="0.00:00:30"/>
  <add key="Coldstorage.circuitbreaker.LogCooldownInterval" value="0.00:15:00"/>

  <!--### Warm Storage ###-->
  <add key="Warmstorage.EventHubConnectionString" value="Endpoint=sb://[YourServiceNamespace].servicebus.windows.net/;SharedAccessKeyName=[YourAccessKeyName];SharedAccessKey=[YourAccessKey];TransportType=Amqp"/>
  <add key="Warmstorage.EventHubName" value="[YourEventHubName]"/>
  <add key="Warmstorage.CheckpointStorageAccount" value="DefaultEndpointsProtocol=https;AccountName=[YourStorageAccount];AccountKey=[YourAccountKey]"/>
  <add key="Warmstorage.ConsumerGroupName" value="WarmStorage"/>
  <add key="Warmstorage.MaxBatchSize" value="100"/>
  <add key="Warmstorage.PreFetchCount" value="500"/>
  <add key="Warmstorage.ReceiveTimeout" value="0.00:01:00" />
  <add key="Warmstorage.ElasticSearchUri" value="http://localhost:9200"/>
  <add key="Warmstorage.ElasticSearchIndexPrefix" value="iot"/>
  <add key="Warmstorage.ElasticSearchIndexType" value="temperature"/>
  <add key="Warmstorage.RetryCount" value="3"/>

  <!--### ColdStorage Tests ###-->
  <add key="ColdStorage.Tests.StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=[YourStorageAccountName];AccountKey=[YourStorageAccountKey]"/>

  <!--Device Provisioning-->
  <add key="DeviceProvision.EventHubNamespace" value="[YourEventHubName].servicebus.windows.net"/>
  <add key="DeviceProvision.EventHubName" value="[YourEventHubName]"/>
  <add key="DeviceProvision.EventHubSasKeyName" value="[YourSasPolicyName]"/>
  <add key="DeviceProvision.EventHubPrimaryKey" value="[YourEventHubPrimaryKey]"/>
  <add key="DeviceProvision.EventHubTokenLifetimeDays" value="1"/>

</appSettings>
