<?xml version="1.0"?>
  <appSettings>
    <add key="EventHubNamespace" value="[Event hub namespace]"/>
    <add key="EventHubName" value="[Event hub name]"/>
    <!-- The name of an event hub policy with Send permissions. -->
    <add key="EventHubSasKeyName" value="[Event hub policy name]"/>
    <!-- Primary key for your event hub "Send" policy -->
    <add key="EventHubPrimaryKey" value="[Event hub primary key]"/>
    <!-- ServiceBus connection string with Manage permissions. (Use "RootManageSharedAccessKey" by default.)  -->
    <add key="EventHubConnectionString" value="[Your EventHub Manage policy connection string]"/>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=STORAGE-ACCOUNT-NAME;AccountKey=PRIMARY-KEY"/>
  </appSettings>

