<?xml version="1.0"?>
  <appSettings>
    <add key="EventHubPrimaryKey" value="[Event hub primary key]"/>
    <add key="EventHubNamespace" value="[Event hub namespace]"/>
    <add key="EventHubName" value="[Event hub name]"/>
    <add key="EventHubSasKeyName" value="[Event hub policy name]"/>
    <add key="StorageConnectionString" value="[Azure storage connection string]"/>
  </appSettings>

