<?xml version="1.0" encoding="utf-8" ?>
<appSettings>

  <add key="Coldstorage.ConsumerGroupName" value="ColdStorage"/>
  <add key="Coldstorage.CheckpointStorageAccount" value="DefaultEndpointsProtocol=https;AccountName=[YourStorageAccount];AccountKey=[YourAccountKey]"/>
  <add key="Coldstorage.EventHubConnectionString" value="Endpoint=sb://[YourServiceNamespace].servicebus.windows.net/;SharedAccessKeyName=[YourAccessKeyName];SharedAccessKey=[YourAccessKey];TransportType=Amqp"/>
  <add key="Coldstorage.EventHubName" value="[YourEventHubName]"/>
  <add key="Coldstorage.MaxBatchSize" value="100"/>
  <add key="Coldstorage.PreFetchCount" value="500"/>
  <add key="Coldstorage.ReceiveTimeout" value="0.00:01:00"/>
  <!--Storage account where event hub data is stored - the default is 1 for all partitions in the eventhub-->
  <add key="Coldstorage.BlobWriterStorageAccount" value="DefaultEndpointsProtocol=https;AccountName=[YourStorageAccount];AccountKey=[YourAccountKey]"/>
  <!--This is the maximum amount of data which you want to put into the blob before a roll happens. The size should be large. See http://blogs.msdn.com/b/mostlytrue/archive/2014/04/10/merging-small-files-on-hdinsight.aspx-->
  <add key="Coldstorage.RollSizeForBlobWriterMb" value="2048"/>
  <add key="Coldstorage.ContainerName" value="blobs-processor"/>
  <!--This is the prefix for the blob name. Blobs are created  with the name (using the default naming strategy) /pnp-datapipeline/<eventhubpartitionId>/YYYY/MM/DD/sequenceNumber where sequence number starts with 0 and incremented whenever a roll happens-->
  <add key="Coldstorage.BlobPrefix" value="fabrikam"/>
  <add key="Coldstorage.CircuitBreaker.WarningLevel" value="200"/>
  <add key="Coldstorage.CircuitBreaker.TripLevel" value="400"/>
  <add key="Coldstorage.CircuitBreaker.StallInterval" value="0.00:00:30"/>
  <add key="Coldstorage.CircuitBreaker.LogCooldownInterval" value="0.00:15:00"/>

  <!--### ColdStorage Tests ###-->
  <add key="Coldstorage.Tests.StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=[YourStorageAccountName];AccountKey=[YourStorageAccountKey]"/>

</appSettings>
