<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="EventHubNamespace" value="perftestd9b8a52c38ac"/>
  <add key="EventHubName" value="eventhub-iot"/>
  <add key="EventHubSasKeyName" value="RootManageSharedAccessKey"/>
  <add key="EventHubSasKey" value="zkjGcyoL8PrqfGcqkc3l0r/tN+YZvaDObjjaAouDFeE="/>
  <add key="CheckpointStorageAccount" value="DefaultEndpointsProtocol=https;AccountName=perftestd9b8a52c38ac;AccountKey=5mAdXf3iCqUEA3f+3sWn3u6x1w+fYz5QknutEFvYZCpzBUJ3EertdDFw5qiHE6C0Dhx2QTMHMa8UyrJkH0jyDw=="/>
</appSettings>