<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="ConsumerGroupName" value="[YourConsumerGroupName]"/>
  <add key="EventHubNamespace" value="[YourEventHubNamespace]"/>
  <add key="EventHubName" value="[EventHubName]"/>
  <add key="EventHubSasKeyName" value="[YourSasKeyName]"/>
  <add key="EventHubSasKey" value="[YourEventHubSasKey]"/>
  <add key="CheckpointStorageAccount" value="DefaultEndpointsProtocol=https;AccountName=[YourStorageAccount];AccountKey=[YourAccountKey]"/>
</appSettings>