<?xml version="1.0" encoding="utf-8" ?>
<appSettings>

  <add key="Warmstorage.EventHubConnectionString" value="Endpoint=sb://[YourServiceNamespace].servicebus.windows.net/;SharedAccessKeyName=[YourAccessKeyName];SharedAccessKey=[YourAccessKey];TransportType=Amqp"/>
  <add key="Warmstorage.EventHubName" value="[YourEventHubName]"/>
  <add key="Warmstorage.CheckpointStorageAccount" value="DefaultEndpointsProtocol=https;AccountName=[YourStorageAccount];AccountKey=[YourAccountKey]"/>
  <add key="Warmstorage.ConsumerGroupName" value="WarmStorage"/>
  <add key="Warmstorage.MaxBatchSize" value="100"/>
  <add key="Warmstorage.PreFetchCount" value="500"/>
  <add key="Warmstorage.ReceiveTimeout" value="0.00:01:00" />
  <add key="Warmstorage.ElasticSearchUri" value="http://localhost:9200"/>
  <add key="Warmstorage.ElasticSearchIndexPrefix" value="iot"/>
  <add key="Warmstorage.ElasticSearchIndexType" value="temperature"/>
  <add key="Warmstorage.RetryCount" value="3"/>

</appSettings>
